@import "variables";
@import "reset";
@import "grid";

body {
  background: $main-color;
}

header {
  h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin: 80px auto;
    padding: 50px;
    border: 1px solid #fff;
  }
}

.paralax {
    max-width: 100%;
    background-image: url("/img/paralax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
}
