@import "variables";
@import "reset";
@import "grid";

body {
  font-family: 'Times New Roman', 'Arial';
  background: $main-color;
}

header{
  padding: 80px 0;
  p {
    color: $font-color;
    font-family: "Courier";
    font-size: 5vw;
    line-height: 6vw;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    padding-left: 70px;
    @include desktop{
      font-size: 50px;
      line-height: 55px;
      padding-left: 80px;
    };
  }
  div:first-of-type p {
    animation: livewriting 4s steps(60, end);
  }

  div:last-of-type p {
    animation: livewriting2 8s steps(60, end);

    span{
      animation: blink 1s infinite;
    }
  }
}

section {
  .parallax {
    max-width: 100%;
    background-image: url("../img/paralax.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    @include desktop {
    height: 400px;
    };
  }
  .parallax2 {
    max-width: 100%;
    background-image: url("../img/paralax2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    @include desktop {
    height: 400px;
    };
  }
  .parallax3 {
    max-width: 100%;
    background-image: url("../img/paralaxa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
    @include desktop {
    height: 400px;
    };
  }
}

article.technology{
  div.col-1 {
    text-align: center;
    background: $main-color;
    font-size: 30px;
    color: $font-color;
    padding: 30px 0;
    @include desktop {
      padding-bottom: 80px;
      &:hover {
        font-size: 40px;
        border: 1px solid #fff;
        padding: 20px;
      }
    }
  }
}

article {
  div.about {
    margin: 40px 0;
      p{
      letter-spacing: 50px;
      word-spacing: 10px;
      text-align: center;
      color: $font-color;
      font-size: 28px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 20px;
      @include desktop{
        font-size: 50px;
        };
      }
    }
    div.description {
      p {
      text-align: center;
      font-size: 25px;
      color: $font-color;
      padding: 0px 40px;
      @include desktop{
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 35px;
      };
    }
  }
}


article {
    div.quotes {
      text-align: center;
      font-size: 4vw;
      color: $font-color;
      @include desktop {
        font-size: 40px;
        text-align: center;
      };
      h1{
        margin: 10px 0;
        color: $font-color;
        font-size: 5vw;
        text-align: center;
        @include desktop{
          font-size: 40px;
          margin: 40px 0;
        };
      }
      button {
        background-color: $main-color;
        border: 1px solid #fff;
        color: $font-color;
        font-size: 10px;
        padding: 10px;
        margin: 10px 0;
        @include desktop{
          font-size: 20px;
          padding: 20px;
          margin: 40px 0;
        }
      }
    }
  }


footer {
  height: 180px;
  div.col-2{
    text-align: center;
    margin-top: 20px;
  }
  .fa {
    font-size: 50px;
    color: $font-color;
    text-decoration: none;
    @include desktop{
      font-size: 80px;
      margin-top: 30px;
    };
  }
}

//KEYFRAMES

@keyframes livewriting {
  from {
    width: 1px;
  }
}

@keyframes livewriting2 {
  0% {
    width: 1px;
  }
  50%{
    width: 0;
  }
  100% {
     width: 100;
   }
}

@keyframes blink{
  to {
    opacity: 0;
  }
}
